{% extends 'index.html' %}

{% block content %}
   <!-- Main content -->
    <section class="content">
      <div class="container-fluid">

        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">存储卷信息</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">

            <thead>
                <tr>
                {% for  key in title.keys() %}
                    <th> {{  key }} </th>
                {% endfor %}
                <tr>
            </thead>

           <tbody>
            {% for  key,value in my.items() %}

                <!--<h1> {{ item }} </h1>-->

                {%  if  value  %}

                    {% for lis in value %}
                        <tr>
                        {% for v in lis.values()  %}

                            <td>{{ v }}</td>

                        {% endfor %}
                        </tr>
                    {% endfor %}
                {% else %}
                    <!--<h3> {{ key }}  is empty  </h3>-->
                {% endif %}

            {% endfor %}

            </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
        <!-- /.row -->


      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
{% endblock %}